@import "../../scss/colors";
@import "../../scss/tools";

.projectTitle {
  color: #383838;
  font-size: 28px;
  font-weight: 700;
  margin-left: 5px;
}

.phasesContainer {
  @include flexBox(row, space-around);
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  padding-top: 35px;
  padding-bottom: 15px;
  margin-top: 15px;

  .ant-skeleton-button-lg {
    height: 200px;
  }
}



@media (max-width:576px) {
  .phasesContainer{
    width: 100%;
    flex-wrap: wrap;
    padding: 30px 5px;
  }
}
@media (min-width:576px) and (max-width:766px) {
  .phasesContainer{
    width: 100%;
    flex-wrap: wrap;
    padding: 30px 5px;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .phasesContainer{
    width: 100%;
    flex-wrap: wrap;
    padding: 30px 5px;
  }
}
@media (min-width:992px) and (max-width:1200px) {
  .phasesContainer{
    width: 100%;
    flex-wrap: wrap;
    padding: 30px 5px;
  }
}
@media (min-width:1201px) and (max-width:1600px) {
}
@media (min-width:1600px) and (max-width:2000px) {
}
@media (min-width:2000px) and (max-width:2500px) {
}